/* #4a154b */

.header__nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: var(--slack-color);
  color: white;
  padding: 5px;
  height: 50px;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 0.3;
  margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header__search {
  border-radius: 6px;
  display: flex;
  align-items: center;
  background-color: #421f44;
  border: 1px solid gray;
  flex: 0.4;
  padding: 7px 50px;
  text-align: center;
}

.header__search > input {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  min-width: 35vw;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

.header__right {
  flex: 0.3;
  text-align: right;
  margin-right: 20px;
}
